name: Pulumi
on:
  push:
    branches:
      - main

env:
  PULUMI_DIRECTORY: ./deploy

jobs:
  update:
    name: Update
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.8'

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '>=1.18.1'

      - name: Setup Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-region: ${{ secrets.AWS_REGION }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Install Packages
        run: yarn install --frozen-lockfile
        working-directory: ${{ env.PULUMI_DIRECTORY  }}

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Configure ECR
        id: ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Deploy
        uses: pulumi/actions@v3
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
        with:
          work-dir: ${{ env.PULUMI_DIRECTORY  }}
          command: up
          stack-name: dev
